name: liquid_glass_glsl
description: A Flutter package that provides realistic liquid glass effects using GLSL shaders for modern UI designs.
version: 1.0.0
homepage: https://github.com/officiallyutso/liquid_glass_glsl
repository: https://github.com/officiallyutso/liquid_glass_glsl

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  shaders:
    - shaders/liquid_glass.frag
